@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --deafult-font-color:#2D465E;
  --font-color-hover:#0d83fd;
  --font-black:#212529;
}
ul li{
  list-style: none;
}
a{
  text-decoration: none;
}
body {
  background-color: #0d81fd0a;
}
main {
  margin:  2em;
}
.hero-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 2em;
}
.company-badge{
  display: flex;
  font-size: 16px;
}
.company-link{
  background-color: #0d81fd2d;
  padding: 8px;
  border-radius: 30px;
  color: #0d83fd;
}
h1 span{
  color: #0d83fd;
}
.hero-buttons{
  display: flex;
  
  align-items: center;
  gap: 20px;
}
.hero-buttons a{
  font-size: 15px;
}
.hero-buttons span{
  padding-right: 10px;
}
/* Hero Images */
.hero-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heroImg {
  width: 100%;
  max-width: 80%;
}
.customer-profiles{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  background-color: white;
  box-shadow:1px 1px 1px 1px rgba(0,0,0,0.3);
  border-radius: 8px;
  padding:  0 1em;
}
.customer-avatar span {
  padding: 8px 5px;
  border-radius: 50%;
  color:white;
}
.customer-profiles p{
  font-size: 13px;
  font-weight: 500;
  color: #2D465E;
}
.avatar{
  border-radius: 50px;
  background-color: #0d83fd;
  margin-left: -12px;
}
/* Icons */
.icon {
  font-size: 26px;
  background-color: #2d465e38;
  padding: 0.6em 0.7em;
  border-radius: 1000px;
  color: #0d83fd;
  transition: all 0.20s;
}
.item{
  display: flex;
  align-items: center;
  gap: 20px;
}
.icon:hover{
  background-color: #0d83fd;
  color: white;
}
.static-icons{
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
  border-radius: 10px;
  padding: 0 3em;
  padding-bottom: 1.5em;
  background-color: white;
}
/* About Container */
.about-container h6{
  color: #0d83fd;
}
.feature-list{
  display: flex;
  flex-direction: column;
}
.tick{
  margin-right: 10px;
  background-color: #0d83fd;
  border-radius: 100px;
  padding: 2px 4px 3px;
  color: white;
}
.ceo-profile{
  display: flex;
  gap: 10px;
  align-items: center;
}
.ceo{
  border-radius: 50px;
}
.posting{
  color: #0d83fd;
}
.bi-telephone-fill {
  color: #0d83fd;
  font-size: 26px;
}
.call {
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
  padding: 1em;
  border-radius: 10px;
}
.callme{
  font-size: 16px;
  color: gray;
}
.about-img{
  padding: 10px 0;
  border-radius: 20px;
}
.laptop{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondImg {
  position: absolute;
  top: 20%;
  left: -5%;
  width: 200px;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}
.thirdImg {
  border-radius: 20px;
}
.exp{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d83fd;
  padding: 1em;
  color: white;
  border-radius: 10px;
  /* width: 250px; */
}
.phone {
  background-color: white;
}
/* Features */
.title{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature-title{
  padding-bottom: 10px;
  border-bottom: 1px solid #0d83fd;
  border-width: 3px;
}
.title p{
  padding: 10px 6px;
  font-weight: 500;
}
/* Feature button */
.feature-button{
  display: flex;
  justify-content: center;
}
.fea-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  background-color: #2d465e1f;
  padding: 15px;
  border-radius: 40px;
}
.btn-1, .btn-2 , .btn-3{
  background-color: #0d83fd;
  padding: 4px 18px;
  border-radius: 20px;
  transition: all 0.20s;
}
.btn-1 , .btn-2, .btn-3{
  background-color: white;
  color: #0d83fd;
}
/* Modlist */
.h3-bottom{
  border-bottom: 1px solid #0d83fd;
  border-width: 3px;
  width: 50px;
}
.italic {
  color: gray;
  font-size: 15px;
  font-weight: 400;
}
.tick-2{
  padding-right: 5px;
  color: #0d83fd;
  font-size: 18px;
}

/*  */
.award-container{
  background-color: #fff3e2;
  padding: 1em;
  border-radius: 20px;
}
.award-container-2{
  background-color: #deedfd;
  padding: 1em;
  border-radius: 20px;
}
.award-container-3{
  background-color: #d5f1e4;
  padding: 1em;
  border-radius: 20px;
}
.award-container-4{
  background-color: #fff3e2;
  padding: 1em;
  border-radius: 20px;
}
.award-icon{
  color: rgba(165, 42, 42, 0.778);
}
.check-icon, .bi-quote{
  color: #0d83fd;
}
.bi-sunrise{
  color: green;
}
.bi-shield-check {
  color: red;
}
/* Feature Content */
.content{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.content-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
}
/* .content-tile-2{
  text-align: end;
  margin-right: 15px;
} */
.bi-tv, .bi-feather,.bi-eye{
  background-color: #6c89a34a;
  padding: 6px 12px;
  border-radius: 50px;
  color: #0d83fd;
}
.call-container {
  background-color: #0d83fd;
  padding: 1em;
  color: white;
  text-align: center;
  border-radius: 6px;
}
.call-btn {
  background-color: #0d83fd;
  outline: 2px solid white;
  border: white;
  padding: 0.6em 2em;
  border-radius: 50px;
  transition: all 0.30s;
}
.call-btn:hover {
  background-color: white;
  color: #0d83fd;
}
/* Testimonial */
.bottom-border{
  border-bottom: 3px solid #0d83fd;
  width: 75px;
}
.clientpic {
  border-radius: 50%;
}
.testimonial-divison {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 6px;
  box-shadow: 2px 4px 6px rgba(0,0,0,0.3);
  padding: 15px;
  gap: 20px;
}
.bi-star-fill {
  color: gold;
}
.testimonial-contents {
  display: flex;
  align-items: center;
  gap: 10px;
}
.bi-quote {
  font-size: 22px;
}
.carousel-inner {
  display: flex;
  
}
/* Projects */
.project-contents {
  background-color: white;
}
.proj-border-bottom {
  border-bottom: 2px solid #0d83fd;
  width: 20px;
}
.projects-list  {
  flex-direction: column;
  justify-content: center;align-items: center;
}
.projects-list h1{
  font-size: 38px;
}
/* Services */
.service-container {
  display: flex;
  gap: 20px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
  border-radius: 6px;
  padding: 1em;
  background-color: white;
}.serviceTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icons {
  background-color: #0d81fd2e;
  display: flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 6px;
  height: 0%;
  transition: all 0.20s;
}
.proj-border-bottom2 {
  border-bottom: 2px solid #0d83fd;
  width: 20px;
}
.hover-effect:hover{
  background-color: #0d83fd;
  color: white;
}
.service-icon {
  font-size: 32px;
  color: #0d83fd;
  transition: all 0.20s;
}
/* Price */
.price-container {
  background-color: white;
  padding: 1em;
  border-radius: 12px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}
.price-amount {
  display: flex;
  align-items: center;
  gap: 4px;
}
.price-amount  h1{
  font-size: 42px;
}
.price-amount p {
  font-size: 12px;
  color: gray;
}
.tickIcon {
  background-color: #0d83fd;
  color: white;
  border-radius: 50%;
  margin-right: 10px;
}
.buyButton {
  display: flex;
  justify-content: center;
}
.buynow {
  background-color: #0d83fd;
  width: 90%;
  padding: 0.8em 2em;
  border-radius: 50px;
}
.pirce-blue-container{
  background-color: #0d83fd;
  color: white;
}
.pirce-blue-container p{
  color: white;
}
.tick2 {
  background-color: white;
  color: #0d83fd;
  border-radius: 50%;
  margin-right: 10px;
}
.buynowBlue {
  background-color: white;
  color: #0d83fd;
}
.plans{
  border-radius: 50px;
  padding: 0.5em 1em;
  color: #0d83fd;
  font-weight: 600;
}
.plan {
  display: flex;
  justify-content: center;
  margin-top: -2em;
}
/* FAQ */
.ques {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding-top: 1em;
  padding-left: 10px;
  border-radius: 6px;
  transition: all 0.20s;
  cursor: pointer;
}
.ques:hover {
  color: #0d83fd;
}
/* Call Action */
.action {
  background-color: #0d83fd;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 12px;
}
.callbtn {
  outline: 1px solid;
  background-color: #0d83fd;
  padding: 0.5em 2em;
  border-radius: 50px;
}
.callbtn:hover {
  background-color: #0d83fd;
}
/* Contacts */
.bottom-borders {
  border-bottom: 2px solid #0d83fd;
  width: 40px;
}
.action-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.contact-container {
  padding: 1em;
  border-radius: 12px;
  color: white;
}
.location {
  display:flex;
  align-items: center;
  gap: 15px;
}
.locationAlign {
  display: flex;
}
.LocationIcon {
  background-color: #0d83fd;
  padding: 0.5em 1em;
  border-radius: 50%;
}
/* Get in touch */
.container-getInTouch{
  background-color: white;
  padding: 2em;
  border-radius: 12px;
}
.form-control {
  padding: 0.5em;
}
.form-control:focus{
  outline: none;
  box-shadow: none;
}
.sendmsgBtn {
  display: flex;
  justify-content: center;
}
.sendmsgBtn .btn {
  padding: 1em 2em;
  border-radius: 50px;
}
/* Footer */
footer {
  background-color: white;
}
.sociallinks {
  display: flex;
  gap: 10px;
}
.social {
  background-color: white;
  outline: 1px solid gray;
  padding: 4px
   8px;
  border-radius: 50px;
  color: rgb(128, 128, 128);
}
.social:hover {
  color: #0d83fd;
  outline: 1px solid #0d83fd;
}
.links {
  cursor: pointer;
}
.links:hover {
  color: #0d83fd;
}
.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items
  : center;
  border-top: 1px solid #0d83fd;
  margin-top: 10px;
}
.copyright span {
  color: #0d83fd;
}